html,
body {
    background-color: #f0efef;
    font-family: 'Megrim', cursive;
    height: 100%;
}

.main_row {
    height: 100%;
    padding: 20px;
    margin: 0px;
}

.main_col {
    height: 25%
}

.content {
    height: 100%;
}

p.text {
    font-size: 2em;
    color: #f0efef;
}

#page-title {
    color: #f0efef;
    position: absolute;
}

#red {
    background-color: rgba(245, 178, 178, 0.7);
}

#blue {
    background-color: rgba(159, 217, 246, 0.7);
}

#blue-green {
    background-color: rgba(162, 215, 211, 0.7);
}

#green {
    background-color: rgba(165, 212, 173, 0.7);
}

#light-green {
    background-color: rgba(215, 231, 175, 0.7);
}

#yellow {
    background-color: rgba(255, 248, 177, 0.7);
}

#orange {
    background-color: rgba(252, 214, 161, 0.7);
}

#red-orange {
    background-color: rgba(245, 176, 144, 0.7);
}

#pink-purple {
    background-color: rgba(244, 180, 209, 0.7);
}

#purple {
    background-color: rgba(164, 154, 202, 0.7);
}


/*media query*/

@media only screen and (min-width: 0px) {
    #page-title {
        font-size: 3em;
    }
}

@media only screen and (min-width: 460px) {
    #page-title {
        font-size: 5em;
    }
}

@media only screen and (min-width: 620px) {
    #page-title {
        font-size: 6em;
    }
}

@media only screen and (min-width: 993px) {
    #page-title {
        font-size: 13em;
    }
}

@media only screen and (min-width: 1400px) {
    #page-title {
        font-size: 15em;
    }
}