html,
body {
    background-color: #f0efef;
    font-family: 'Megrim', cursive;
    height: 100%;
}

.main_row {
    height: 100%;
    padding: 20px;
    margin: 0px;
}

.main_col {
    background-color: #9FD9F6;
    height: 100%
}

p.text {
    font-size: 2em;
    color: #f0efef;
}

#page-title {
    color: #f0efef;
}


/*media query*/

@media only screen and (min-width: 0px) {
    #page-title {
        font-size: 3em;
    }
}

@media only screen and (min-width: 460px) {
    #page-title {
        font-size: 5em;
    }
}

@media only screen and (min-width: 620px) {
    #page-title {
        font-size: 6em;
    }
}

@media only screen and (min-width: 993px) {
    #page-title {
        font-size: 10em;
    }
}

@media only screen and (min-width: 1400px) {
    #page-title {
        font-size: 10em;
    }
}