html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Audiowide', cursive;
}


/*materialize overwrite*/

.row {
    margin-bottom: 0px;
}


/*page-title タイトル*/

#page-title {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    /* Safari用 */
    transform: translateY(-50%);
    color: #fafafa;
}

.main_row {
    height: 100%;
}

.col.main_col {
    height: 100%;
    padding: 0;
}


/*右ペイン*/

.right-pane {
    height: 100%;
    background-color: #546e7a;
}


/*左ペイン*/

.left-pane {
    height: 100%;
    background-color: #212121;
}


/*media query*/

@media only screen and (min-width: 0px) {
    #page-title {
        font-size: 7em;
    }
}

@media only screen and (min-width: 460px) {
    #page-title {
        font-size: 10em;
    }
}

@media only screen and (min-width: 620px) {
    #page-title {
        font-size: 15em;
    }
}

@media only screen and (min-width: 993px) {
    #page-title {
        font-size: 22em;
    }
}

@media only screen and (min-width: 1400px) {
    #page-title {
        font-size: 26em;
    }
}